html
  head
    title Wolfiebot
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='javascript/socket.js')

  body
    header
      .navbar.topbar
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/settings') Settings
            li
              a(href='/messagedata') Messages
    .container
      block content
