extends master.pug

block content
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
  script(src="javascript/jqueryDatepicker.js")
  script(src='javascript/messagedata.js')
  div(name='sidebar')
  div
    h1 Select a server and channel to view a graph of the past week.
    |
    div(name='content')
      .dropdown
        button.dropbtn(onclick='UIElements.toggleDropDown("guild")') Select Guild
        #GuildDropdown.Dropdown.dropdown-content
          input#GuildInput.Input(type='text', placeholder='Search..', onkeyup='filterFunction("GuildInput")')
          #guildnames
      .dropdown
        button.dropbtn(onclick='UIElements.toggleDropDown("channel")') Select Channel
        #ChannelDropdown.Dropdown.dropdown-content
          input#ChannelInput.Input(type='text', placeholder='Search..', onkeyup='filterFunction("ChannelInput")')
          #channelnames
      p Amount of messages:
      input#amount(type="text", value="1000")
      p Gather messages until:
      input#datepicker(type="text")
      button(onclick='UIElements.getMessages()') Get Messages
      button#graphButton(onclick='BarChart.init()' disabled='true') Show Graph Week

  div(name='chart')
    canvas#myChart
