body {
  background-color: #737a75;
}
.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topbar li {
    float: left;
}

.topbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topbar li a:hover {
    background-color: #111;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #a5a5a5;
}

.settingstable table, th, td {
   border: 1px solid black;
}


.dropbtn {
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter#custombackground-color: #4CAF50;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color: white;
}

.selectbtn {
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter#custombackground-color: #4CAF50;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.selectbtn:hover, .selectbtn:focus {
    background-color: black;
    color: white;
}

.Input {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
